body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:37px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:1273px;
  height:37px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:285px;
  height:37px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:8px;
  width:285px;
  height:37px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:214px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:502px;
  width:199px;
  height:214px;
  opacity:0.15;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:193px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:510px;
  width:183px;
  height:193px;
  opacity:0.2;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:228px;
  height:213px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:67px;
  width:208px;
  height:193px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:231px;
  height:213px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:515px;
  width:211px;
  height:193px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:371px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u84_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
