body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:-25px;
  width:876px;
  height:780px;
  overflow:hidden;
}
#u205_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:780px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/ciclo_de_engajamento_-_treino_-_gif/u205_state0.gif');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:contain;
}
#u205_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:-37px;
  width:881px;
  height:781px;
  overflow:hidden;
}
#u206_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:781px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/ciclo_de_engajamento_-_treino_-_gif/u206_state0.gif');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:contain;
}
#u206_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:522px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u207_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:522px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u208_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u208_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:522px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u209_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:522px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u210_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u210_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:37px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:1275px;
  height:37px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:285px;
  height:37px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:8px;
  width:285px;
  height:37px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:8px;
  width:285px;
  height:37px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:8px;
  width:285px;
  height:37px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:8px;
  width:285px;
  height:37px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
